.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar .container-fluid {
  display: flex;
  justify-content: center;
}

.navbar{
  background-color: #152737;
}

.navbar a{
  color: white;
}

.alphabet-list .btn {
  margin-right: 15px;
  color: #152737;
  border-color: #152737;
}

.alphabet-list .btn:hover {
  background-color: #152737;
  color: #ffffff;
}

.fixed-height-image {
  height: 100px;
  object-fit: cover;
}

