.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar .container-fluid {
  display: flex;
  justify-content: center;
}

.navbar{
  background-color: #152737;
}

.navbar a{
  color: white;
}

.alphabet-list .btn {
  margin-right: 15px;
  color: #152737;
  border-color: #152737;
}

.alphabet-list .btn:hover {
  background-color: #152737;
  color: #ffffff;
}

.fixed-height-image {
  height: 100px;
  object-fit: cover;
}

.search{
  background-color: #152737;
  outline: none;
  border: none;
}

.search:hover{
  background-color: #ffffff;
  color: #152737;
  border: 1px solid #152737;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .btn {
  margin: 0 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination .btn:hover {
  background-color: #152737;
  color: #FFFFFF;
}

.pagination .btn-outline-primary {
  background-color: #D1D1D1;
  color: #000000;
  outline: none;
  border: none;
}

.pagination .btn-primary {
  background-color: #152737;
  color: #FFFFFF;
  outline: none;
  border: none;
}

